{% extends 'core/plantilla.html' %}
{% load static %}

{% block contenido %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Carrito de compras</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Articulo</td>
							<td class="description"></td>
							<td class="price">Precio</td>
							<td class="quantity">Cantidad</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$500.000</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/mujer1.jpg" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Ropa deportiva</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$39.990</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$39.990</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/mascota2.jpg" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Ropa deportiva</a></h4>
								<p>Web ID: 1089772</p>
							</td>
							<td class="cart_price">
								<p>$14.990</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$14.990</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>¿Que te gustaría hacer después?</h3>
				<p>Elija si tiene un código de descuento o puntos de recompensa que desea usar o le gustaría estimar su costo de envío.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Usar código de cupón</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Usar gift card</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimar costos de envió e impuestos</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Pais:</label>
								<select>
									<option>Chile</option>
									
								</select>
								
							</li>
							<li class="single_field">
								<label>Region:</label>
								<select>
									<option>Metropolitana</option>
									<option>Arica y Parinacota</option>
									<option>Tarapaca</option>
									<option>Antofagasta</option>
									<option>Atacama</option>
									<option>Coquimbo</option>
									<option>Valparaiso</option>
									<option>O' Higgins</option>
									<option>Maule</option>
									<option>Ñuble</option>
									<option>Bio-Bio</option>
									<option>La Araucania</option>
									<option>Los Rios</option>
									<option>Los Lagos</option>
									<option>Aysen</option>
									<option>Magallanes</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Codigo Postal:</label>
								<input type="text">
							</li>
						</ul>
						
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Sub-Total del carrito <span>$554.980</span></li>
							<li>Impuesto Ecologico <span>$2000</span></li>
							<li>Costo envio <span>Gratis</span></li>
							<li>Total <span>$556.980</span></li>
						</ul>
							<a class="btn btn-default update" href="">Actualizar</a>
							<a class="btn btn-default check_out" href="">Verificar</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	{% endblock %}