{% extends 'core/plantilla.html' %}
{% load static %}

{% block contenido %}

	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Ingrese a su cuenta</h2>
						<form  action="{% url 'INICIAR_SESION' %}" method="POST">
							{% csrf_token %}
							<input name="txtEmailLogin" type="email" placeholder="Email" />
							<input name="txtPassLogin" type="password" placeholder="Contraseña" />
							{% if mensaje != null %}
							<span style="color: red;">
								{{mensaje}}
							</span>
							{% endif %}
							<button type="submit" class="btn btn-default">Iniciar Sesion</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">O</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Nuevo Registro De Usuario =) </h2>
						<form action="{% url 'REGISTRARSE' %}" method="POST">
							{% csrf_token %} <!--Token de Seguridad para el formulario-->
							<input name="txtNombre" type="text" placeholder="Nombre"/>
							<input name="txtEmail" type="email" placeholder="Email"/>
							<input name="txtContraseña" type="password" placeholder="Contraseña"/>
							<button type="submit" class="btn btn-default">Registrarse</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->

	{% endblock %}