{% extends 'core/plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Servicio Reparación</title>
{% endblock %}

{% block contenido %}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Repara o consulta estado</li>
			</ol>
		</div>
		<!--/breadcrums-->

		<div class="step-one">
			<h2 class="heading">Bienvenido</h2>
		</div>
		<div class="checkout-options">
			<h3>¡Hola <span style="font-weight: 900;">{{ user.first_name }}</span>, escríbanos su consulta!</h3>
			<p></p>

		</div>
		<!--/checkout-options-->

		<div class="register-req">
			<p>En los siguientes bloques debe ingresar la informacion necesaria para solicitar una reparacion de su
				bicicleta</p>
		</div>


		<!--/register-req-->
		<div class="shopper-informations">
			<div class="row">
				<div class="col-sm-3">
					<div class="shopper-info">
						<p>Informacion de contacto</p>
						<form action="{% url 'CONSULTA' %}" method="POST">
							{% csrf_token %}
							
							<input name="txtNombre" type="text" placeholder="Nombres" value="{{user.first_name}}">
							<input name="txtApellido" type="text" placeholder="Apellidos" value="{{user.last_name}}">
							<input name="txtEmail" type="Email" placeholder="Correo Electronico" value="{{user.email}}">
							<input name="txtMarca" type="text" placeholder="Modelo y Marca">
							<input name="txtComentario" type="text" placeholder="Problema a reparar">

							<!-- BTN ENVIAR FORM -->
							<input type="submit" class="btn btn-primary" value="Enviar solicitud de reparación">
							<p style="color: red;">{{mensaje}}</p>
							
						</form>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="order-message">
						<p>Reseña</p>
						<textarea name="txtReseña" placeholder="Fallas, Errores, entre otros...."
							rows="16"></textarea>
					</div>
				</div>
			</div>

			{% endblock %}