{% extends 'core/plantilla.html' %}
{% load static %}

{% block titulo %}
<title>Inventario</title>
{% endblock %}

{% block contenido %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Inventario</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Articulo</td>
							<td class="description"></td>
							<td class="price">Precio</td>
							<td class="quantity">Stock</td>
							<td></td>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 109372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">6</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">154</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">97</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">63</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">87</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">65</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">21</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">3</label>
								
								</div>
							</td>
						</tr>

						<tr>
							<td class="cart_product">
								<a href=""><img src="images/home/venta1.jfif" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">Bicicleta electrica</a></h4>
								<p>Web ID: 1089372</p>
							</td>
							<td class="cart_price">
								<p>$500.000</p>
							</td>

							<td class="cart_quantity">
								<div class="cart_quantity_button">
				
									<label class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2">122</label>
								
								</div>
							</td>
						</tr>

						
						</tr>
					</tbody>
				</table>

				<!-- Sección de resumen de ventas diario , mensual -->
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="description">Resumen de Ventas Diario</td>
							<td class="price">Resumen de ventas Mensual</td>
		
							<td></td>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td class="cart_product">
								<h4>87 <span style="color: red;">Artículos</span></h4>
								<p>Artículo más vendido <span style="font-weight: 900;">Bicicleta electrica</span></p>
							</td>
							<td class="cart_description">
								<h4>1.356 <span style="color: red;">Artículos</span></h4>
								<p>Artículo más vendido <span style="font-weight: 900;">Bebida energetica Tula</span></p>
							</td>
						
						</tr>

						<tr>
							<td class="cart_product">
								<h4>Ganacias<span style="color: red;">Totales</span></h4>
								<p>$<span style="font-weight: 900;">1.273.500</span></p>
							</td>
							<td class="cart_description">
								<h4>Ganacias<span style="color: red;">Totales</span></h4>
								<p>$<span style="font-weight: 900;">40.890.000</span></p>
							</td>
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->


	{% endblock %}